* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  line-height: 1.6;
  background: #f9f9f9;
  color: #333;
  text-align: justify;
}

p {
    margin-top: 5px;    
    margin-bottom: 5px; 
    line-height: 1.6;    
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden
}

.cool-button {
  display: inline-block;
  padding: 15px 15px;
  font-size: 0.5em;
  font-weight: bold;
  text-decoration: none;
  color: white;
  background: linear-gradient(135deg, #4b6cb7, #182848);
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
.cool-button:hover {
  transform: translateY(-15px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
  background: linear-gradient(135deg, #6b8ce7, #283048);
}

header {
  background: linear-gradient(to right, #202c39, #283845); 
  position: relative;
  height: 320px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f2d492;
  text-align: center;
/*  -webkit-text-stroke: 1px black;*/
    padding: 80px 20px;
  z-index: 0;
}

header::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url("images/macs0416.jpg");
  background-size: cover;        /* Fills the area */
  background-position: center;   /* Center the image */
  background-repeat: no-repeat;
  filter: blur(5px);
  z-index: -1;
}

header h1 {
  font-size: xxx-large;
  -webkit-text-stroke: 2px black;
  margin-bottom: 10px;
}

header p {
  font-size: xx-large;
  opacity: 0.9;
}
header .cool-button {
  position: absolute;
  right: 20px;
  top: 90%;
}

section {
  padding: 30px 0;
}

.about,
/*.about-main {
  display: grid;
  align-items: start;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}*/
.about-text{
  margin: 20px;
  padding: 20px;
}
.jordan-pic img{
  height: 400px;
  width: auto;
  float: left;
  object-fit: cover;
  border: 10px solid grey;
  border-radius: 50px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 0;
}

.contact {
  background: white;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.portfolio {
  background: #f0f0f0;
}

.projects {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.project-card {
  background: white;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

.img-select-seds img{
/*  width: 500px;
  height: auto; */
  display: block;
  justify-content: center;
  padding: 10px;
  margin: auto;
  object-fit: cover;
}
.img-select-seds img:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
.img-jumprope img{
/*  width: 400px;
  height: auto;*/
  display: block;
  justify-content: center;
  margin: auto;
  padding: 10px;
  object-fit: cover;
}
.img-jumprope img:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
.img-ads img{
/*  width: 200px;
  height: auto;*/
  display: block;
  justify-content: center;
  margin: auto;
  padding: 10px;
  object-fit: cover;
}
.img-ads img:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.cv {
  background: #f0f0f0;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

